section{transition-property:transform,opacity;transition-duration:1s,1s}
section[aria-selected],section .animation-step{transition-delay:1s,1s;transform:scale(1.0) translate(0, 0)}
section .animation-step{opacity:0;transition:1s all ease}
#slides [data-animation]{transform:none}
/* slide-animation effects */
[data-prev][data-animation="slide"]{transform:translate(-100%,0)}
[data-next][data-animation="slide"]{transform:translate( 100%,0)}
[data-prev][data-animation="rotate"]{transform:scale(0.3) rotate( 180deg)}
[data-next][data-animation="rotate"]{transform:scale(5.0) rotate(-180deg)}
[data-prev][data-animation="spin"]{transform:scale3d(0.3,0.3,0.3) rotateX(-90deg) translateZ(500px) rotate( 180deg)}
[data-next][data-animation="spin"]{transform:scale3d(0.3,0.3,0.3) rotateX( 90deg) translateZ(  0px) rotate(-180deg)}
